# Set default behavior to LF for all files
* text eol=lf

# Explicitly specify files that should have LF
*.js text eol=lf
*.jsx text eol=lf

*.ts text eol=lf
*.tsx text eol=lf

*.json text eol=lf
*.md text eol=lf

# Exclude binary files from line-ending conversion
*.png binary
*.jpg binary
*.gif binary
# Add more file extensions if needed

# Declare files that are truly binary and shouldn't be modified
# -crlf tells Git not to attempt any conversion on these files
*.pdf -text -crlf
*.zip -text -crlf