.table_cage {
    padding: 4px 10px;
    font-size: clamp(12px, 3vw, 18px);
}

.table_cage:nth-child(3) {
    text-align: center;
}

.btnDelete{
    background-color:rgb(253, 73, 73);
    border: none;
}
