.series_controller {
    margin-top: 20px;
}

.preview {
    background-color: $white25;
    color: $white100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
