html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    -webkit-overflow-scrolling: touch;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1430px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: clamp(20px, 5vw, 34px);
}

body.dark-mode {
    color-scheme: dark;
    color: $white100;
    background: $white10;
    &::-webkit-scrollbar {
        background-color: $white25;
        width: 16px;
    }
    &::-webkit-scrollbar-track {
        background-color: $white25;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $white46;
        border-radius: 16px;
        border: 4px solid $white25;
        cursor: pointer;
        &:hover {
            background-color: $white53;
        }
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
}

body.light-mode {
    color-scheme: light;
    color: $white53;
    background: $white92;
    &::-webkit-scrollbar {
        background-color: $white100;
        width: 16px;
    }
    &::-webkit-scrollbar-track {
        background-color: $white100;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $white53;
        border-radius: 16px;
        border: 4px solid $white100;
        &:hover {
            background-color: $white72;
        }
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
}

/* Adaptivity for different devices / Адаптивность под разные устройства  */
.hide-on-mobile {
    @include mobile {
        display: none !important;
    }
}
.hide-on-mobile-tablet {
    @include mobile-tablet {
        display: none !important;
    }
}
.hide-on-desktop {
    @include desktop {
        display: none !important;
    }
}
