.table_content {
    overflow-x: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 20px 0;
}

.table_wrapper {
    width: 100%;
    overflow-x: auto;
}

.table th {
    background-color: #cbcbcb;
    padding: 5px;
    text-align: center;
    border: 1px solid #b6b6b6;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table td {
    padding: 5px;
    border: 1px solid #ccc;
}

.table .actions {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}
