/*  
    EN: 
    Colour palette ready to use
    NOTE: editing the file requires an approval of a graphic designer
    
    RU:
    Цветовая палитра для использования
    Заметка: правки нужно согласовывать с дизайнером
*/

$white5: #0d0d0d;
$white10: #191919;
$white25: #404040;
$white31: #4f4f4f;
$white36: #5d5d5d;
$white46: #767676;
$white53: #888888;
$white72: #b7b7b7;
$white83: #d4d4d4;
$white92: #ebebeb;
$white95: #f3f3f3;
$white100: #ffffff;
$blue: #3d89fa;
$blue10: #0d47a1;
$blue25: #1565c0;
$blue31: #1976d2;
$blue53: #42a5f5;
$blue72: #64b5f6;
$blue92: #90caf9;
$green: #65dc23;
$pink: #e76767;
